<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>wow!,This site was created by LILYSTAR,it uses data from mapbox.com and darksky.net! </p>
    <img class="portrait" src="/img/lily6.jpg">
    </div>

    {{>footer}}
</body>
</html>